@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: rgb(0, 104, 104);
    --primary-color-dark: rgb(0, 33, 33);
}
*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(0,217,217);
    background: linear-gradient(90deg, rgba(0,217,217,1) 0%, rgba(0,145,145,1) 100%);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 440px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.9px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 30px;
}
form button:hover{
    background: var(--primary-color-dark);
}
.paragrafo-resultado, .bad{
    background-color: rgb(109, 255, 182);
    padding: 10px 20px;
}
.bad{
    background-color: rgb(255, 150, 150);
}